<h1>
  Spotify
</h1>
<div class="field">
	<input type="search" name="search" [formControl]="searchControl" placeholder="Buscar">
</div>
<ul>
	<li *ngFor="let pokemon of listaPokemon;let i=index">
		<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ i + 1 }}.png">
		<span>
			<h2>{{ pokemon.name }}</h2>
			<p>Numero: {{ i + 1 }}</p>
		</span>
	</li>
</ul>
<br />
<p *ngIf="estaCargando">Cargando...</p>
<br />
<button (click)="obtenerPokemones()">Cargar otros</button>
