img {
	max-width: 100%;
 	max-height: 200px;
}

section {
	margin: 0 auto;
}

ul {
	margin: 0 auto;
	display: table;
	width: auto;
}

ul li {
	display: inline-block;
	height: auto;
	vertical-align: top;
	width: 46%;
	margin: 4px;
	padding: 12px;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid #f5f5f5;
}

ul li div {
	display: inline-block;
	width: 50%;
	text-align: center;
	vertical-align: top;
}

ul li h3 {
	font-weight: normal;
	font-size: 24px;
	margin: 0;
	padding: 0;
	padding-bottom: 24px;
}

ul li p {
	margin: 0;
	margin-bottom: 8px;
}

ul li:hover {
	background-color: lightblue;
}

li span {
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 28px;
	border-radius: 100%;
}

span strong{
	color: #fff;
	display: inline-block;
	vertical-align: middle;
}