<!-- <h1>{{ otroTitulo }}</h1>
<p>{{ nombrePersona }}</p>
<p>{{ edadPersona }}</p>
<input type="text" name="nombre" [(ngModel)]="edadPersona">
<button (click)="cambiarNombre()">Boton</button> -->
<nav>
	<a routerLink="pokemon">Pokemon</a>
	<a routerLink="animales">Animales</a>
</nav>
<router-outlet></router-outlet>

<!-- <app-spotify></app-spotify>
<br />
<div class="page_container">
	<h1>{{ posicionEscogida }}</h1>

	<ul>
		<li *ngFor="let persona of arreglo" (click)="cambiarPersona(persona)">{{ persona }}</li>
	</ul>

	<br>
	<app-animales [persona]="posicionEscogida" (onAnimalSelect)="mostrarAnimalElegido($event)"></app-animales>
</div> -->

<!-- <div class="pop_up" *ngIf="animalElegido">
	<section>
		<span class="close" (click)="animalElegido = null">X</span>
		<img src="{{ animalElegido.imagen }}">
	</section>
</div> -->
